upstream django {
    server web:8000;  
}

server {
    server_name ${DOMAIN}; 
    listen 80;

    location / {
        proxy_pass http://django;
        include /etc/nginx/proxy_params;
        proxy_redirect off;
    }

    location /static/ {
        alias /app/tommorowproject/staticfiles/;
    }

    location /media/ {
        alias /app/tommorowproject/media/;
        add_header Cache-Control "no-cache, no-store, must-revalidate";
        add_header Pragma "no-cache";
        add_header Expires 0;
    }
    error_log /var/log/nginx/django.error.log;
    access_log /var/log/nginx/django.access.log;
}