.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    width: 1000px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0,0,0,0.4);
    font-family: Arial, sans-serif;
}

.modal-left {
    flex: 1.5;
    background-color: white;
    color: #273f2b;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-left-title {
    font-size: 36px;
    font-weight: 750;
    margin-bottom: 20px;
}

.modal-left-text {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6;
    text-align: justify;
    flex-grow: 1;
}

.modal-left-button {
    background-color: #273f2b;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.modal-left-button:hover {
    background-color: #1f2e1e;
}

.modal-right {
    flex: 1;
    background-color: #273f2b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    color: white;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal-right-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.6;
    text-align: justify;
}

.modal-right-small-text {
    font-size: 14px;
    color: #68ef3f; /* бирюзовый цвет */
}