{% load static %}
            <footer class="footer">
                <div class="padding-global">
                    <div class="container-large">
                        <div class="footer_content">
                            <div class="footer_top">
                                <a href="#" aria-label="Logo Tomorro" aria-current="page" class="footer_log-wrapper w-inline-block">
                                    <img loading="lazy" src="{% static 'img/678fee668a9c0763625125fa_logo-white.svg' %}" alt="" class="footer_logo" />                                </a>
                                <div class="disclaimer is-light">
                                    <div class="disclaimer_content">
                                        <img loading="lazy" src="{% static 'img/678f5f58a93362c3e7e3856d_leaf-light.svg' %}" alt="" class="icon-1x1-medium" />                                        <div class="text-weight-medium">At Tomorro, we dedicate 1% of our revenues to eliminating carbon dioxide.</div>
                                    </div>
                                    <a
                                        fs-modal-element=""
                                        data-wf--button--button-variant="light-opacity"
                                        href="#"
                                        target="_blank"
                                        class="button w-variant-15dc2b6c-a146-fb75-5edc-f2b79643b98b w-inline-block"
                                    >
                                        <img src="{% static 'img/678ff374371c1f5654263d86_play-white.svg' %}" loading="lazy" alt="" class="icon-1x1-medium is-button-black" />                                        <img src="{% static 'img/678ff34d4a27d7150439265a_play-dark.svg' %}" loading="lazy" alt="" class="icon-1x1-medium is-button-green" />                                        <div>Learn more</div>
                                    </a>
                                </div>
                            </div>
                            <div class="footer_grid">
                                <div id="w-node-_2fabae5c-ae47-ac87-9f14-4fb60c86f378-0c86f369" class="footer_list-wrapper">
                                    <div class="footer_list">
                                        <div class="footer_title">Use cases</div>
                                        <a href="{% url 'oro_AI' %}" class="footer_link">Track your contracts</a>
                                        <a href="{% url 'internal_collaboration' %}" class="footer_link">Collaborate on contracts</a>
                                        <a href="{% url 'contract_archiving' %}" class="footer_link">Risk visibility and control</a>
                                    </div>
                                    <div id="w-node-_2fabae5c-ae47-ac87-9f14-4fb60c86f382-0c86f369" class="footer_list">
                                        <div class="footer_title">Teams</div>
                                        <a href="{% url 'oro_AI' %}" class="footer_link">Legal teams</a><a href="{% url 'pricing' %}" class="footer_link">Sales teams</a>
                                        <a href="{% url 'pricing' %}" class="footer_link">Financial teams</a>
                                        <a href="{% url 'pricing' %}" class="footer_link">Procurement teams</a>
                                        <a href="{% url 'pricing' %}" class="footer_link">HR teams</a>
                                        <a href="{% url 'pricing' %}" class="footer_link">Operation teams</a>
                                    </div>
                                </div>
                                <div class="footer_list">
                                    <div class="footer_title">Product</div>
                                    <div class="footer_link-container">
                                        <img loading="lazy" src="{% static 'img/678f5f58a93362c3e7e3856f_Oro-Symbol.avif' %}" alt="" class="footer_link-icon" /><a href="{% url 'oro_AI' %}" class="footer_link">Oro - AI assistant</a>                                    </div>
                                    <a href="{% url 'contract_management_automation' %}" class="footer_link">Contract automation</a>
                                    <a href="{% url 'dynamic_contract_template' %}" class="footer_link">Dynamic templates</a>
                                    <a href="{% url 'contract_signature' %}" class="footer_link">E-signature</a><a href="{% url 'contract_negotiation' %}" class="footer_link">Contract generation</a>
                                    <a href="{% url 'contract_archiving' %}" class="footer_link">Contract archiving</a>
                                    <a href="{% url 'contract_archiving' %}" class="footer_link">Approval workflows</a>
                                    <a href="{% url 'suivi_contrat' %}" class="footer_link">Contract monitoring</a>
                                    <a href="{% url 'contract_negotiation' %}" class="footer_link">Contract negotiation</a>
                                    <a href="{% url 'analyse_contrat' %}" class="footer_link">Contract analysis</a><a href="{% url 'ebooks' %}" class="footer_link">Integrations</a>
                                    <a href="{% url 'analyse_contrat' %}" class="footer_link">Security</a><a href="{% url 'pricing' %}" class="footer_link">Pricing</a>
                                </div>
                                <div class="footer_list">
                                    <div class="footer_title">Resources</div>
                                    <a href="{% url 'oro_AI' %}" class="footer_link">Customer testimonials</a><a href="{% url 'oro_AI' %}" display="en-fr" class="footer_link">Read our blog</a>
                                    <a href="{% url 'ebooks' %}" display="en-fr" class="footer_link">Ebooks</a><a href="{% url 'oro_AI' %}" display="en-fr" class="footer_link">Webinars</a>
                                    <a href="{% url 'ebooks' %}" display="en-fr" class="footer_link">Podcasts</a><a href="{% url 'oro_AI' %}" display="en-fr" class="footer_link">Glossary</a>
                                    <a href="{% url 'templates_clauses' %}" display="en-fr" class="footer_link">Clauses templates</a><a href="{% url 'oro_AI' %}" display="en-fr" class="footer_link">Partners</a>
                                    <a href="#" class="footer_link">Documentation</a><a href="" class="footer_link">Alternatives</a>
                                    <a href="" target="_blank" class="footer_link">Statuts</a>
                                </div>
                                <div class="footer_list">
                                    <div class="footer_title">Contact</div>
                                    <a href="{% url 'oro_AI' %}" class="footer_link">About</a><a href="https://www.tomorro.com/company/our-beliefs" class="footer_link">Our beliefs</a>
                                    <a href="{% url 'suivi_contrat' %}" target="_blank" class="footer_link">We're recruiting</a>
                                    <a href="{% url 'analyse_contrat' %}" class="footer_link">Contact us</a><a href="https://www.tomorro.com/company/press" class="footer_link">Press</a>
                                    <a href="{% url 'contract_management_automation' %}" target="_blank" class="footer_link">Linkedin</a><a href="{% url 'oro_AI' %}" target="_blank" class="footer_link">X (Twitter)</a>
                                    <a href="{% url 'contract_management_automation' %}" target="_blank" class="footer_link">Facebook</a><a href="{% url 'oro_AI' %}" target="_blank" class="footer_link">Youtube</a>
                                </div>
                            </div>
                            <div class="footer_iso27001">
                                <div class="align-center max-width-large">
                                    <div class="footer_iso27001_content">
                                        <img loading="lazy" src="{% static 'img/67e3ee4b8741a05e42f895d8_ISO-27001-Fluo.avif' %}" alt="" class="footer_iso27001_visual" />                                        <div class="footer_iso27001_content_left">
                                            <div class="margin-bottom margin-small"><div>Because we place safety issues at the heart of our development, Tomorro has been certified ISO-27001.</div></div>
                                            <a href="{% url 'contract_management_automation' %}" class="button is-text text-color-green">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer_bottom">
                                <div class="footer_link is-secondary is-year">© <span data-current-year="">2025</span> Tomorro</div>
                                <div class="footer_bottom_link-wrapper">
                                    <a href="{% url 'contract_management_automation' %}" class="footer_link is-secondary">Legal</a>
                                    <div class="footer_link is-secondary w-embed"><a class="footer_link is-secondary" href="javascript:openAxeptioCookies()">🍪 Cookies</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>